client/android/inshortsbengali/.gradle/*
client/android/inshortsbengali/gradle/*
client/android/inshortsbengali/.idea/*
client/android/inshortsbengali/build/*
client/android/inshortsbengali/inshortsbengali.iml
client/android/inshortsbengali/app/app.iml
client/android/inshortsbengali/app/build/*

